<h2 id="title">
  Welcome to MyApp 3
  <div class="rightlink"><a href="#">Logout</a></div>
</h2>
<nav>
  <ul>
    <li><a href="#">New Class</a></li>
    <li><a href="#">Manage Students</a></li>
    <li><a href="classes">Classes List</a></li>
  </ul>
</nav>

{{outlet}}
